Source: pve-storpool
Section: utils
Priority: optional
Maintainer: StorPool <support@storpool.com>
Uploaders: Denis Kanchev <denis.kanchev@storpool.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-single-binary,
 systemd,
 libconfig-inifiles-perl,
 libjson-perl,
 libwww-perl,
 liblinux-prctl-perl,
 libunix-mknod-perl
Standards-Version: 4.6.2
Homepage: https://repo.storpool.com/public/doc/pve/pve-storpool/
Vcs-Git: https://github.com/storpool/pve-storpool.git -b main
Vcs-Browser: https://github.com/storpool/pve-storpool/tree/main
Rules-Requires-Root: no

Package: pve-storpool
Architecture: all
Depends:
 libconfig-inifiles-perl,
 libjson-perl,
 libpve-common-perl,
 libpve-storage-perl,
 libwww-perl,
 liblinux-prctl-perl,
 systemd,
 ${misc:Depends},
 ${perl:Depends},
Multi-Arch: foreign
Description: StorPool storage plugin for Proxmox VE
 This package contains the StorPool storage plugin that lets Proxmox VE
 place disks, snapshots, and ISO images onto a StorPool cluster.
