#!/usr/bin/make -f

%:
	dh '$@'

ifeq (,$(filter nodoc,$(DEB_BUILD_OPTIONS) $(DEB_BUILD_PROFILES)))
execute_before_dh_installdocs:
	mkdir docs-renamed
	cp -Rpv docs/ docs-renamed/markdown/

	mkdocs build
	cp -Rpv site/docs/ docs-renamed/html/

execute_after_dh_installdocs:
	dh_mkdocs
endif
